<div>
    <h2>
         _Что, если вы так и не решитесь на изменения в карьере…
    </h2>
    <div class="portait">

    </div>
    <div>
        <p>
             Будете и дальше ныть, что денег не хватает, всю жизнь ходить на нелюбимую работу, завидовать друзьям с собственными квартирами,
            машинами, а Айфон, Макбук и путешествия заграницу так и останутся вашими мечтами…
        </p>
        <p>Вы так и не начнете жить по-настоящему!</p>
        <p>И самое страшное – будете всегда недовольны собой</p>
        <div>
             А может быть по-другому… и вы сейчас в 1 шаге от качественных изменений своей жизни
        </div>
    </div>
</div>