@font-face{
    font-family: 'MuseoSansCyrl';
    src: url('../../font/MuseoSansCyrl900.ttf') format(ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face{
    font-family: 'UbuntuMono';
    src: url('../../font/UbuntuMono-B.ttf') format(ttf);
    font-weight: bold;
    font-style: normal;
}
