<div>
    <h2>_Станьте уверенным начинающим IT-разработчиком</h2>
    <hr>
    <h3>и ваше достойное резюме сразу заметят крупные компании, стартапы, команды</h3>
    <div>
        <div class="teacher">

        </div>
        <div class="tech-skills">
            <h4>Технические навыки:</h4>
            <hr>
            <ul>
                <li>HTML: основы, семантика, a11y</li>
                <li>CSS: основы, flexbox, adaptive and mobile-first css, BEM, SASS</li>
                <li>JavaScript: основы, ES5/ES6+, DOM/BOM, AJAX, patterns, Gulp, Webpack</li>
                <li>React: основы, управление состоянием с Redux, routing на стороне клиента, patterns, тестирование</li>
                <li>NodeJS: vanilla NodeJS, Express, MongoDB, Mongoose, JWT</li>
                <li>основы и инструменты: terminal, git, github, npm, babel</li>
            </ul>
        </div>
        <div class="soft-skills">
            <h4>Soft skills:</h4>
            <hr>
            <ul>
                <li>начальный уровень IT English</li>
                <li>быстрая обучаемость</li>
                <li>внимание к деталям</li>
                <li>интерес к новым технологиям</li>
                <li>хорошие коммуникативные навыки</li>
            </ul>
        </div>
        <div class="portfolio">
            <h4>Портфолио:</h4>
            <hr>
            <ul>
                <li>3 веб-приложения (в команде)</li>
                <li>2 проекта (самостоятельно)</li>
            </ul>
        </div>
    </div>
    <div>
        <h3>Запишитесь на курс «Full Stack разработчик с нуля»,</h3>
        <hr>
        <h4>и гарантированно получите интересную работу через 9 месяцев или раньше.</h4>
        <div></div>
        <div></div>
        <button></button>
    </div>
</div>