<div class="fullstackDevelop">

    <div class="componentHeader">

        <p class="componentTitle">

            Full Stack - разработчик создает web - приложения и сайты,
        
        </p>
                    
        <hr class="componentHr">
                    
                    
        <div class="componentSubTitle">

            <p class="componentSubTitle__text">
            
                и вы можете стать им за 9
            
            </p>
        
        <hr class="componentHead__hr--hide">
        
            <p class="componentSubTitle__text">
            
                месяцев обучения в
            
                <span class="componentSubTitle__text--color"> GoIT</span>
            
            </p>
        
        </div>

    </div>


</div>

