<div>
    <h2>
        _Как узнать, подходит ли вам курс?
    </h2>
    <div>
        <p>Для вас, если:</p>
        <ul>
            <li>хотите сменить профессию;</li>
            <li>интересуетесь технологиями и IT-сферой;</li>
            <li>готовы тратить время, чтобы разобраться и научиться;</li>
            <li>хотите получить интересную работу;</li>
            <li>мечтаете зарабатывать от 2000 долларов и иметь перспективы в карьере;</li>
        </ul>
    </div>
    <div>
        <p>Не для вас, если:</p>
        <ul>
            <li>не готовы тратить (min) по 2-3 часа в день или 15 часов в неделю на обучение и практику;</li>
            <li>рассчитываете на «магию» и не хотите вложить свои ресурсы для достижения цели;</li>
            <li>важнее работа/друзья/ Варкрафт/сериалы;</li>
            <li>ленитесь, всегда некогда, а вдруг не получится;</li>
            <li>хотите ничего не делать и успешно работать в IT.</li>
        </ul>
    </div>
    <div>
        <div>
             Если вы готовы стараться, курс GoIT станет отличным стартом вашего пути в IT-сфере и окупится в первый год реальной работы.
        </div>
        <button></button>
    </div>
</div>