<div class="header">

    <img class="header__logo" src="../images/logo-320.png" alt="GO IT">

    <div class="headerPhone">

        <span class="headerPhone__phone">+38 (093) 343-21-27</span>

        <div class="headerPhone__line"></div>
        
        <span class="headerPhone__text">Набор: от <span class="headerPhone__text--xbold">23</span> до <span class="headerPhone__text-xbold">35</span> лет</span>

    </div>

    <div class="startDate">
        <p class="startDate__text">
            старт <span class="startDate__text--color">17</span> марта
        </p>
    </div>

    <div class="startFullStack">

        <div class="startInIt">
            <p class="startInIt__uppertext">
                Начните работать в сфере IT_
            </p>

            <p class="startInIt__text">
                после обучения на курсе:
            </p>
        </div>

        <div class="startFullStack__line"></div>

        <div class="fullStackZero">

            <p class="fullStackZero__text">

                <span class="fullStackZero__text--color">

                    _Full Stack -

                </span>

                разработчик с нуля

            </p>

        </div>

    </div>

    <div class="juniorWorks">

        <div class="juniorWorks__line"></div>

        <span class="juniorWorks__text">
            
            Помогаем вам занять должность  

        </span>
        <span class="juniorWorks__text--bold">

            Junior Full Stack-разработчика

        </span>

        <p class="graduateToIt">
            <span class="graduateToIt--color">
                85% 
            </span>

            выпускников курса  работают в IT-компаниях Украины
        </p>

    </div>

    <div class="resumePortfolio">
        <p class="resumePortfolio__text">
            5 готовых  проектов в  Портфолио
        </p>
        <div class="resumeSkills">
            <p class="resumeSkills__text">
                Реальный опыт веб-разработки  в команде
            </p>
            <p class="resumeSkills__text">
                Базовый IT английский, карьерные навыки
            </p>
        </div>
    </div>

</div>