.difference {
    color: #242427;
    padding: 0;  
}
.wrapper {
    padding: 5%;
    h2 {
        text-align: center;
        margin-top: 60px;
        margin: 0 auto;
        font-size: 25px;
        font-family: 'MuseoSansCyrl 900'; 
    }
    .iris-blue {
        color: #00bcd4;
    }
    .difference-body-title {
        font-size: 20px;
        font-family: 'UbuntuMono';
        font-weight: bold;
        text-align: left;
    }
    hr {
        color: #00bcd4;
        width: 82px;
        
    }
    .difference-body li {
        list-style-image: url(../../assets/difference_images/ellips_1246.png);
    }
    .how-works {
        border-top: 3px solid #000000;
    }
    .result {
        font-weight: bold;
    }
}