<div class="difference">
    <h2>
        <span class="iris-blue">_</span>Чем наш курс отличается от других IT-курсов
    </h2>
    <div>
        <h3>
            Получаете первый практический опыт разработки
        </h3>
        <hr>
        <div>
            <p>
                Во время обучения выполняете 5 проектов - самостоятельно и в команде, которые сможете показать работодателям.
            </p>
        </div>
    </div>
    <div>
        <h3>
            Обучаетесь комплексно
        </h3>
        <hr>
        <ul>
            <li>
                технические знания, инструменты и навыки
            </li>
            <li>
                навыки коммуникации в команде
            </li>
            <li>
                знания IT English
            </li>
            <li>
                карьерный сервис: навыки для поиска работы
            </li>
        </ul>
    </div>
    <div>
        <h3>
            Попадаете в заряжающее окружение единомышленников
        </h3>
        <hr>
        <div>
            <p>
                Студенты разных курсов вместе выполняют проекты, помогают друг другу найти работу.
                Вокруг вас люди, которые интересуются IT, развиваются, позитивно мыслят и делятся вдохновением.
            </p>
        </div>
    </div>
    <div>
        <h3>
            Как карьерный сервис помогает вам найти работу:
        </h3>
        <div>
            <p>
                Наши менеджеры анализируют результаты выпускников и отбирают лучшие резюме для работы в IT-компаниях Украины (помните, что 90% вакансий разработчика закрываются через личные рекомендации).
            </p>
            <p>
                С нашей помощью, после курса, вы гарантированно получаете работу.
            </p>
        </div>
    </div>
</div>