<div class="wrapper">
	<div class="first_part">
	<h1><span>_</span>ВЫБИРАЙТЕ ПРОВЕРЕННЫЙ ПУТЬ К ВАШЕЙ ПЕРСПЕКТИВНОЙ РАБОТЕ</h1>
	<div class="img"></div>
	<ol>
		<li><div class="text">Принимаете решение получить профессию «Web-разработчик»</div></li>
		<li><div class="text">Регистрируетесь на курс «Full Stack-разработчик с нуля» в GoIT</div></li>
		<li><div class="text">Проходите обучение, выполняете все ДЗ, работаете в командах</div></li>
		<li><div class="text">Выполняете 4 реальных проекта за время учебы</div></li>
		<li><div class="text">Сдаете выпускной проект</div></li>
		<li><div class="text">Гарантированно получаете  предложения от IT-компаний с зарплатой от 700$</div></li>
	</ol>
</div>

<div class="second_part">

    <h1> <span>_</span>КЕМ ВЫ МОЖЕТЕ РАБОТАТЬ ПОСЛЕ ОБУЧЕНИЯ</h1>
    <div class="hor_line"></div>

    <h3>СРЕДНЯЯ ЗАРПЛАТА <br>IT-СПЕЦИАЛИСТА <span>2 000 USD</span></h3>

	<div class="block">
        <div class="heading">
             <div class="image fullstack_image"></div>
             <h2>FULL STACK РАЗРАБОТЧИК</h2>
        </div>
        <div class="hor_line"></div>
        <div class="text">
            <p>(выполняет задачи Front-end и Back-end, создает веб-приложения, сайты, инструменты)</p>
            <br>
            <p><b>*Стартовая зарплата</b> <span>700 USD</span></p> 
            <p style="color: #6d6d6d">Количество вакансий<span style="color: #000000; font-size: 30px; padding-left: 20px;">2</span></p>
        </div>
    </div>
    
    <div class="block">
            <div class="heading">
                 <div class="image frontend_image"></div>
                 <h2>FRONT-END РАЗРАБОТЧИК</h2>
            </div>
            <div class="hor_line"></div>
            <div class="text">
                <p>(создает клиентскую часть веб-сайта или  веб-приложения – интерфейс)</p>
                <br>
                <p><b>*Стартовая зарплата</b> <span>400 USD</span></p> 
                <p style="color: #6d6d6d">Количество вакансий<span style="color: #000000; font-size: 30px; padding-left: 20px;">2</span></p>
            </div>
     </div>

     <div class="block">
        <div class="heading">
            <div class="image backend_image"></div>
            <h2>WEB-DEVELOPER</h2>
        </div>
        <div class="hor_line"></div>
        <div class="text">
            <p>(создает серверную логику и базы данных, контролирует их взаимодействие с клиентской частью)</p>
            <br>
            <p><b>*Стартовая зарплата</b> <span>600 USD</span></p> 
            <p style="color: #6d6d6d">Количество вакансий<span style="color: #000000; font-size: 30px; padding-left: 20px;">2</span></p>
        </div>
    </div>

    <div class="block">
        <div class="heading">
            <div class="image webdeveloper_image"></div>
            <h2>WEB-DEVELOPER</h2>
        </div>
        <div class="hor_line"></div>
        <div class="text">
            <p>(создает сайты для малого бизнеса на движках по шаблону, например, WordPress)</p>
            <br>
            <p><b>*Стартовая зарплата</b> <span>400 USD</span></p> 
            <p style="color: #6d6d6d">Количество вакансий<span style="color: #000000; font-size: 30px; padding-left: 20px;">2</span></p>
        </div>
    </div>

    <div class="block">
        <div class="heading">
            <div class="image html_image"></div>
            <h2>HTML-ВЕРСТАЛЬЩИК</h2>
        </div>
        <div class="hor_line"></div>
        <div class="text">
            <p>(выполняет верстку сайтов по макету, перенос psd-макета в html/css)</p>
            <br>
            <p><b>*Стартовая зарплата</b> <span>300 USD</span></p> 
            <p style="color: #6d6d6d">Количество вакансий<span style="color: #000000; font-size: 30px; padding-left: 20px;">2</span></p>
        </div>
    </div>

    <div class="block with_button">
        <h2>ВЫ МОЖЕТЕ ЗАНЯТЬ ЛЮБУЮ ИЗ ЭТИХ ДОЛЖНОСТЕЙ ПОСЛЕ ОБУЧЕНИ В GoIT</h2>
        <button>НАЧАТЬ ОБУЧЕНИЕ НА КУРСЕ</button>
        <p><span style="color:red">*</span>по данным <b>26/03/2018</b> по Украине</p>  
       
    </div>

</div>

<div class="third_part">
    <h1><span>_</span>ДАЕМ ГАРАНТИЮ И ПОМОГАЕМ ВЫПУСКНИКАМ</h1>
    <div class="hor_line"></div>
    <h3><span>85%</span>НАШИХ ВЫПУСКНИКОВ ЗНАЮТ, ЧТО НА УКРАИНЕ РАБОТА В IT-КОМПАНИИ - <span>ОСУЩЕСТВИМАЯ МЕЧТА!</span></h3>
    <p><b>Интересные карьерные перспективы от  GoIT:</b></p>
    <ul class="outer_list">
        <li>Вы можете <b>работать</b> в наших проектах после курса обучения;</li>
        <li>Вы можете <b>стать</b> нашим преподавателем или ментором после получения практического опыта и передавать знания новичкам.</li>
    </ul>

    <div class="inner_block">
        <p>Компании <b>больше ценят реальные навыки</b> начинающего специалиста, а не дипломы и государственное образование. Важнее, что человек умеет делать, как он общается с другими людьми, и готов обучаться в процессе работы. Всему этому учим вас на курсе.</p>
        <ul class="inner_list">
            <div class="hor_line"></div>
            <li data-title=".1">
                <h4>ВАС ЗАМЕТЯТ РАБОТОДАТЕЛИ - </h4>
                <p>помогаем составиь выгодное резюме</p>
            </li>
            <div class="hor_line"></div>
            <li data-title=".2">
                <h4>КОМПАНИИ НАХОДЯТ ВАС САМИ -  </h4>
                 <p> даем советы по оформлению страницы в Linkedin.</p>
            </li>
            <div class="hor_line"></div>
            <li data-title=".3">
                <h4>Ваше резюме видят  IT-компании -  </h4>
                 <p>вы в базе выпускников GoIT,  даем доступ работодателям.</p>
            </li>
            <div class="hor_line"></div>
            <li data-title=".4">
                <h4>Получаете вакансии на почту -  </h4>
                 <p>присылаем вам подходящие в рассылке.</p>
            </li>
            <div class="hor_line"></div>
            <li data-title=".5">
                <h4>Получаете вакансии на почту -  </h4>
                 <p>присылаем вам подходящие в рассылке.</p>
            </li>
        </ul>
    </div>
</div>

<div class="fourth_part">
    <h1><span>_</span>ОБУЧАЮЩИЙ ЦЕНТР «GOIT»</h1>
    <div class="hor_line"></div>
    <h3>3 года готовим востребованных <span>специалистов</span></h3>
    <h2>Мы поставили амбициозную цель на будущее –</h2>
    <br>
    <p>стать первым IT-университетом в Украине по подготовке специалистов (онлайн/оффлайн)</p>
    <br>
    <ul>
        <li>У нас  <b>проектная система обучения</b>  –  на <b>70%</b> эффективнее, чем на других IT курсах</li>
        <li>Средняя зарплата выпускников курса «Full Stack-разработчик» на старте карьеры <b>700-1200$</b></li>
        <li>Более <b>85%</b> людей, кто сделал выпускной проект – нашли работу в IT</li>
        <li><b>Даем гарантию трудоустройства, при выполнении всех заданий на курсе</b></li>
    </ul>
    <div class="hor_line_block"></div>
    <p>Компании, в которых сейчас работают наши выпускники</p>
    
    <div class="companies">
        <div class="company_block">
            <div class="image terrasoft"></div>
        </div>
        <div class="company_block">
            <div class="image alfa"></div>
        </div>
        <div class="company_block">
            <div class="image infopulse"></div>
        </div>
        <div class="company_block">
            <div class="image crytek"></div>
        </div>
        <div class="company_block">
            <div class="image luxoft"></div>
        </div>
        <div class="company_block">
            <div class="image inovecs"></div>
        </div>
    </div>
    <p>Вас готовы взять на работу более <b>500 IT-компаний Украины</b></p>
</div>

<div class="fifth_part">
    <div class="hor_line"></div>
    <h1>Наши достижения  и гордость:</h1>
    <div class="block block1">
        <div class="name"><span>lorem ipsum</span></div>
        <h3>GOIT ВЫИГРАЛА ТЕНДЕР ПР ООН УКРАИНА</h3>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
        </p>
    </div>
    <div class="block block2">
        <div class="name"><span>lorem ipsum</span></div>
        <h3>UKRAINIAN IT AWARDS 2016</h3>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        </p>
    </div>
    <div class="block block3">
        <div class="name"><span>lorem ipsum</span></div>
        <h3>BEST IT EDUCATION 2015</h3>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
        </p>
    </div>
</div>

<div class="sixth_part">
    <h1><span>_</span>ПРЕПОДАВАТЕЛИ ЭТОГО КУРСА</h1>
    <div class="hor_line"></div>
    <h3>УМЕЮТ ДОНЕСТИ ИНФОРМАЦИЮ В ПОНЯТНОМ И ПРОСТОМ ДЛЯ ОСВОЕНИЯ ВИДЕ</h3>
    <p style="text-align: justify;"><b>Помогаем перестроить ваше <br>мышление</b>, поддерживаем на каждом этапе обучения, мотивируем, когда вам кажется, что сложно и опускаются руки.</p>
    
    <div class="teachers">
        <p class="name"><b>__________  Back-end</b></p>
        <div class="teacher_block">
            <div class="up">
                <div class="photo"></div>
                <div class="teacher_name">
                    <h4>Александр<br>Репета</h4>
                    <br><div class="hor_line"></div><br> 
                    <p>Java-Script<br>разработчик</p>
                </div>
            </div>  
            <div class="middle">
                <p>Опыт работы с <br>Java-Script - 5 лет</p>
            </div>    
            <div class="down">
                <h3>ТЕХНИЧЕСКИЕ НAВЫКИ</h3>
                <p>HTML/CSS , JAVASCRIPT , DEVELOPMENT <br>
                    TOOLS , NODEJS , REACT JAVASCRIPT, <br>
                    MONGODB, GIT , PYTHON , DOCKER
                </p>
            </div>
        </div>

        <p class="name"><b>__________  Front-end</b></p>
        <div class="teacher_block">
            <div class="up">
                <div class="photo"></div>
                <div class="teacher_name">
                    <h4>Влад<br>Грибенников</h4>
                    <br><div class="hor_line"></div><br>
                    <p>Senior Frontend<br>Developer</p>
                </div>
            </div>  
            <div class="middle second_middle">
                <p>Founder «Easy CRM»</p><br>
                <p>Senior Front-End developer 4+лет;</p><br>
                <p>Опыт менторства 2+;</p><br>
                <p>Выпустил 6 групп Front-End  с уровнем удовлетворенности  9,2 из 10</p>
            </div>    
            <div class="down">
                <h3>ТЕХНИЧЕСКИЕ НAВЫКИ</h3>
                <p>HTML/CSS , JAVASCRIPT , NODEJS , <br>
                    REACT JAVASCRIPT, PYTHON 
                </p>
            </div>
        </div>

        <p class="name"><b>__________  Front-end</b></p>
        <div class="teacher_block">
            <div class="up">
                <div class="photo"></div>
                <div class="teacher_name">
                    <h4>Геннадий<br>Горбулин</h4>
                    <br><div class="hor_line"></div><br>
                    <p>Senior Frontend<br>Developer</p>
                </div>
            </div>  
            <div class="middle">
                <p>7 лет опыта во web-разработке и <br>
                    5 лет преподавательского опыта</p>
            </div>    
            <div class="down">
                <h3>ТЕХНИЧЕСКИЕ НAВЫКИ</h3>
                <p>HTML/CSS , JAVASCRIPT , NODEJS , KOAJS,<br>
                    REACT JAVASCRIPT, JAVA
                </p>
            </div>
        </div>
    </div>
    <button>НАЧАТЬ ОБУЧЕНИЕ НА КУРСЕ</button>
</div>

<div class="seventh_part">
    <h1><span>_</span>GOIT ОТЗЫВЫ <br>И ВПЕЧАТЛЕНИЯ</h1>
    <div class="hor_line"></div>
    <h3>О КУРСЕ «FULL STACK-РАЗРАБОТЧЧИК С НУЛЯ»</h3>
    <ul>
        <li><b>вы окунаетесь</b> и уходите с головой в реальную разработку;</li>
        <li>менторы умеют мотивировать, <b>когда опускаются руки</b>; </li>
        <li><b>карьерный сервис</b> очень помог советами по резюме, тренингами по собеседованию;</li>
        <li>это <b>потрясающий опыт</b>, участие в разработке проекта помогло отточить и систематизировать знания <b>на практике;</b></li>
        <li>развернутый фидбэк по домашним заданиям;</li>
        <li><b>знаю, в каком направлении</b> двигаться дальше и что изучать; </li>
        <li>отлично мотивируют, прямо заряжают <b>энергией</b> и уверенностью.</li>
    </ul>
    <div class="text">
        <p><b>Я заплатил за плотные знания и получил за 9 месяцев то, что самостоятельно осваивал бы несколько лет…</b></p>
    </div>
    <div class="videos">
        <img src="../../assets/middle_img/video1.png"> 
        <img src="../../assets/middle_img/video2.png"> 
        <img src="../../assets/middle_img/video3.png"> 
    </div>
</div>

<div class="eigth_part">
    <h1><span>_</span>ПОЧИТАЙТЕ РАЗВЕРНУТЫЕ ОТЗЫВЫ НАШИХ ВЫПУСКНИКОВ:</h1>
    <div class="feedbacks">
        <div class="feedback">
            <div class="photo"></div>
            <div class="name"> Нина Мирошниченко</div>
            <p>
                Мені дуже сподобалися курси від GoIT (пройшла першу частину Frontend восени 2017р.)! Я випадково знайшла ці курси у Facebook. Пройшла пробний тест...
            </p>
            <a href="#"><b>ЧИТАТЬ ОТЗЫВ</b></a>
        </div>
        <div class="feedback">
            <div class="photo"></div>
            <div class="name">Igor Kuznetsov</div>
            <p>
                Учился на курсе GoFrontend#9. В целом — не жалею ни дня и ни гривны, потраченных на курс. Вебинары Саши Репеты ждал как новую серию Игры Престолов...                </p>
            <a href="#"><b>ЧИТАТЬ ОТЗЫВ</b></a>
        </div>
        <div class="feedback">
            <div class="photo"></div>
            <div class="name">Ekaterina Illarionova</div>
            <p>Отличные курсы для взрослых людей. У каждой группы есть менеджер, который всегда поможет в организационных вопросах, несколько менторов к которым можно... </p>
            <a href="#"><b>ЧИТАТЬ ОТЗЫВ</b></a>
        </div>
        <div class="feedback">
            <div class="photo"></div>
            <div class="name">Natalya Ivanova</div>
            <p>Обдумуючи те, що відбулося зі мною за останній рік (я почала вчитися у вересні 2016-го), розумію, що курси Go Front End були переламним досвідом. </p>
            <a href="#"><b>ЧИТАТЬ ОТЗЫВ</b></a>
        </div>
    </div>
    <div class="text">
        <p><b>Посмотрите  Истории успеха <br>  и  Выпускные работы   наших учеников</b></p>
    </div>
    <button>НАЧАТЬ ОБУЧЕНИЕ НА КУРСЕ</button>
</div>




</div>