<div class="prices">
    <div class="wrapper">
        <h2>
            <span class="iris-blue">_</span>Выберите удобный для вас старт карьеры в IT
        </h2>
        <hr>
        <h3 class="start-learning">Старт зянятий 17 марта</h3>
        <div class="prices-garantee">
            <p>
                <span class="iris-blue">Гарантируем</span><span class="important-text">, что вы получите предложения по работе,</span> при посещении всех лекций и выполнении всех заданий на
                курсе обучения.</p>
        </div>
        <div class="grey-block">
            <p>9 месяцев по 2 раза в неделю</p>
        </div>
        <div class="full-stack-online">
            <div class="grey-block">
                <h3>Full-stack разработчик
                    <span class="iris-blue">онлайн</span>
                </h3>
            </div>
            <div class="full-stack-online-body">
                <div class="full-stack-online-body-text">
                    <p>
                        <span class="iris-blue">Tech skills:</span> 2 вебинара в неделю</p>
                    <p>
                        <span class="iris-blue">Soft skills:</span> 20 часов занятий</p>
                    <p>Доступ к ресурсу EnglishDom</p>
                    <p>Проект в конце каждого блока</p>
                </div>
                <div class="full-stack-online-body-final">
                    <p>
                        <span class="iris-blue">Финальный проект</span> - разработка Web-приложения</p>
                </div>
                <div class="career-title">
                    Карьера
                </div>
                <div class="career-items">
                    <ul>
                        <li>Вебинар по трудоустройству</li>
                        <li>Попадаете в базу выпускников GoIT - доступна работодателям</li>
                        <li>Помощь в оформлении резюме, страницы в LinkedIn</li>
                        <li>Групповые собеседования в Skype</li>
                    </ul>
                </div>
                <div class="online-price">19 800 грн.</div>
                <div class="orange-button">
                    <button>Выбрать пакет</button>
                </div>
            </div>
            
        </div>
        <div class="full-stack-online">
            <div class="grey-block">
                <h3>Full-stack разработчик
                    <span class="iris-blue">оффлайн</span> (в Киеве)</h3>
            </div>
            <div class="full-stack-online-body">
                <div class="full-stack-online-body-text">
                    <p>
                        <span class="iris-blue">Tech skills:</span> 2 вебинара в неделю</p>
                    <p>
                        <span class="iris-blue">Soft skills:</span> 20 часов занятий</p>
                    <p>Доступ к ресурсу EnglishDom</p>
                    <p>Проект в конце каждого блока</p>
                </div>
                <div class="full-stack-online-body-final">
                    <p>
                        <span class="iris-blue">Финальный проект</span> - разработка Web-приложения</p>
                </div>
                <div class="career-title">
                    Карьера
                </div>
                <div class="career-items">
                    <ul>
                        <li>Занятия по трудоустройству</li>
                        <li>Попадаете в базу выпускников GoIT - доступна работодателям</li>
                        <li>Помощь в оформлении резюме, страницы в LinkedIn</li>
                        <li>Групповые собеседования в Skype</li>
                    </ul>
                </div>
                <div class="offline-price">33 000 грн.</div>
                <div class="orange-button">
                    <button>Выбрать пакет</button>
                </div>
            </div>
            
        </div>
        <div class="payment-type">
            <h3 class="payment-type-title">Оплатите курс удобным способом:</h3>
            <div class="payment-type-body">
                <ul>
                    <li>
                        <div><img src="../../assets/prices_images/wallet.png" alt="wallet_image"></div>
                        <p>наличными</p>
                    </li>
                    <li>
                        <div><img src="../../assets/prices_images/credit-card.png" alt="creditcard_image"></div>
                        <p>картой банка</p>
                    </li>
                    <li>
                        <div><img src="../../assets/prices_images/rich.png" alt="bagofcoins_image"></div>
                        <p>в рассрочку</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>