
/* @font-face {
    src: 
} */

.prices {
  /*  background-image: url(~/src/assets/prices_images/prices_background.jpg);
   background-repeat: space; */
   /* background-color: yellow; */
   background: url(../../assets/prices_images/prices_background.png) repeat;
   color: #fff;
   h2 {
       font-size: 25px;
       font-family: 'Museo Sans Cyrl 900', sans-serif;
       text-align: center;
       width: 91.625%;
       margin: 0 auto;
   }
   hr {
       width: 60%;
   }
   h3 {
       text-align: center;
       font-size: 14px;
       font-family: 'Museo Sans Cyrl 900', sans-serif;
   }
   .prices-garantee {
       text-align: left;
       font-family: 'Open Sans Regular', sans-serif;
   }
   .grey-block {
       font-family: 'Museo Sans Cyrl 900', sans-serif;
       text-align: center;
       background-color: grey;
   }
   .online-price {
       color: #ffc600;
       font-size: 36px;
       font-family: 'Museo Sans Cyrl 900', sans-serif;
       text-align: center;
   }
}

.iris-blue {
       color: #00bcd4;
   }



