<div class="switcher">

    <div class="switcher-head">

        <p class="switcher-head__h1">

           Вы можете перейти из другой сферы,            

        </p>

        <hr class="switcherHeadLine">


        <div class="headText">
            <p class="headText__text">

                    даже если никогда
        
            </p>
        
            <hr class="switcherHeadLine--hide">
        
            <p class="headText__text">

                не писали код и вам 
                
                <span class="headText__text--color">30-35 лет</span>
    
            </p>

        </div>

        <div class="smallParagraph">

            <p class="smallParagraph__title">
                Подходит ли вам IT?
            </p>

            <p class="smallParagraph__text">
                Вы никогда не узнаете точно, пока не попробуете. Посмотрите сначала 

                    <span class="smallParagraph__text--extra"> программу обучения, </span> 
                
                чтобы понимать, какие навыки вы получаете и 

                    <span class="smallParagraph__text--extra">кем можете работать.</span> 
            </p>

        </div>
        <div class="smallParagraph">

            <p class="smallParagraph__title">
                    Будет ли интересно?
            </p>

            <p class="smallParagraph__text">
                    Вы попадаете в развивающую среду – интересные задачи, проектная работа, единомышленники, позитивный настрой и постоянная поддержка
            </p>

        </div>
        <div class="smallParagraph">
            <p class="smallParagraph__title">
                Сможете ли освоить?
            </p>
            <p class="smallParagraph__text">
                9 месяцев 2 раза в неделю – оптимальный режим, чтобы усвоить материал на необходимом уровне для реальной работы. Вам помогают преподаватели и поддерживают наставники.
            </p>
        </div>
        <div class="smallParagraph">
            <p class="smallParagraph__title">
                Как потом найти работу?
            </p>
            <p class="smallParagraph__text">
                Помогаем с резюме, готовим к собеседованию, резюме в базе выпускников GoIT (ее видят работодатели). Гарантируем трудоустройство при выполнении всех заданий и посещении лекций.
            </p>
        </div>
        <div class="smallParagraph">
            <p class="smallParagraph__title">
                Страшно менять жизнь?
            </p>
            <p class="smallParagraph__text">
                Страшнее остаться там, где вы сейчас – работа бесит, денег не хватает, перспектив нет, вы постоянно завидуете успешным друзьям, а сами только мечтаете сменить работу.
            </p>
        </div>
            
    </div>
    

    <!-- <div>
        <router-link class="link" :to="{ name: 'Program'}">
            Программа курса
        </router-link>
        <a href="#program">
             Программа курса
        </a>
    </div> -->
</div>