<div>
    <h2>
        _Что получает каждый выпускник
    </h2>
    <div>
        <img src="" alt="">
    </div>
    <hr>
    <div>
        <h3>
            Понимание технологий и процеса разработки приложений + реальный опыт разработки
        </h3>
        <ul>
            <li>5 готовых проектов в портфолио (разного уровня сложности: 3 в команде + 2 персональные)</li>
            <li>навыки работы в Agile командах</li>
            <li>карьерные навыки (консультации + подготовка резюме)</li>
            <li>доступ к учебным материалам после курса – удобная «шпаргалка» для реальной работы</li>
        </ul>
    </div>
    <div>
        <h3>
            Возможность занять должность веб-разработчика через 9 месяцев,
        </h3>
        <p>
             даже если до этого вы работали в другой сфере
        </p>
    </div>
    <div>
         В конце обучения вы получаете сертификат о прохождении курса «Full stack-разработчик с нуля».
    </div>
    <div>
        <button></button>
    </div>
</div>